{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Address lookup</h1>

      
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Postcode</h2>

      <p class="govuk-!-font-weight-bold">
          {{ data["postcode"] }}
          <a href="#" class="govuk-!-display-inline-block govuk-!-padding-left-9 govuk-!-font-weight-regular">
            Change
            <span class="govuk-visually-hidden"> postcode</span>
          </a>
      </p>
      <br/>


      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "address-look-up",
          name: "address-look-up",
          label: {
            text: "Select your address",
            classes: "govuk-!-font-weight-bold govuk-body govuk-label--m govuk-!-margin-bottom-2"
          },
          items: [
            {
            value: "1 Ocean Drive",
            text: "1 Ocean Drive",
            selected: true
            },
            {
            value: "2 Ocean Drive",
            text: "2 Ocean Drive"
            },
            {
            value: "3 Ocean Drive",
            text: "3 Ocean Drive"
            },
            {
            value: "4 Ocean Drive",
            text: "4 Ocean Drive"
            }
          ]
        }) }}

        <br/>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

      <a href="#">I can't find my address in this list</a>

    </div>
  </div>
{% endblock %}
