{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['first-name'] }} {{ data['middle-name'] }} {{ data['surname'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/what-is-your-name">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address-line-1'] }}<br/>
            {{ data['address-line-2'] }}<br/>
            {{ data['city'] }}<br/>
            {{ data['postcode'] }}<br/>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/address-form">
              Change
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Photo ID
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['photo-id-type'] }}<br/>
            {{ data['photo-ID'] }}<br/>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/upload-photo-id">
              Change
              <span class="govuk-visually-hidden"> photo ID</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appointment time
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ data['select-date'] }}</p>
            <p>{{ data['select-time'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/arrange-appointment-time">
              Change
              <span class="govuk-visually-hidden"> appointment time</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ data['contact-by-email'] }}</p>
            <p>{{ data['contact-by-phone'] }}</p>
            <p>{{ data['contact-by-text'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/contact-preference">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Proof of address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['proof-of-address-type'] }}<br/>
            {{ data['proof-of-address'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/upload-proof-of-address">
              Change
              <span class="govuk-visually-hidden"> proof of address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ID sharing
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['share-documents'].length == 1 %}
              {{ data['share-documents'] }}
            {% else %}
              <p>Consent to share with:</p>
              {% for option in data['share-documents'] %}
                <li >{{ option }}</li>
              {% endfor %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/share-your-documents">
              Change
              <span class="govuk-visually-hidden"> ID sharing preferences</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/thank-you-for-submitting" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
