{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      How to upload
    </h1>

    <h2 class="govuk-heading-m">Make sure:</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>your background is clear</li>
      <li>your documents are well lit and in focus</li>
      <li>all details are visible</li>
    </ul>


    <h2 class="govuk-heading-m">When taking a photo:</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>do not use flash as this can blur the image</li>
      <li>take one photo of each document</li>
    </ul>

  
    <h2 class="govuk-heading-m">To upload a document:</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>select type of photo ID from the dropdown menu</li>
      <li>choose photo ID file and select upload</li>
      <li>provide expiration date for chosen document</li>
    </ul>

    <h2 class="govuk-heading-m">Video tutorial</h2>

    <video controls width="360">

      <source src="" type="video/webm">

      <source src="" type="video/mp4">

      Sorry, your browser doesn't support embedded videos.
    </video>
    <br>
    <br>

    {% from "govuk/components/details/macro.njk" import govukDetails %}

    {{ govukDetails({
    summaryText: "I need help doing things online",
    text: "For assistance in completing this task, please phone 0xxxxxxxxx ... etc, ... more
    text..."
    }) }}


    <a href="/upload-photo-id"><button class="govuk-button" data-module="govuk-button">Continue</button></a>

  </div>
</div>

{% endblock %}