{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Do you want to share access to your proof of identity certificate with other council services?</h1>

      <form class="form" action="/share-documents-answer" method="post">

        <p>You can save time by choosing to share your proof of identity certificate with your local council.</p>
        
        <p>our proof of identity certificate will only be accessed by the services you choose. Please select which services you would like to share your proof of identity certificate with.</p>

        <p>You can also choose not to share your proof of identity certificate.</p>

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "share-documents",
          name: "share-documents",
          items: [
            {
              value: "Council tax",
              text: "Council tax"
            },
            {
              value: "Housing benefit",
              text: "Housing benefit"
            },
            {
              value: "Child tax credit",
              text: "Child tax credit"
            },
            {
              value: "Blue badge permit",
              text: "Blue badge permit"
            },
            {
              value: "Food bank referrals",
              text: "Food bank referrals"
            },
            {
              value: "Apply for a school place",
              text: "Apply for a school place"
            },
            {
              value: "Apply for a bus pass",
              text: "Apply for a bus pass"
            },
            {
              value: "Register a birth",
              text: "Register a birth"
            },
            {
              value: "Register a death",
              text: "Register a death"
            },
            {
              value: "Register a marriage",
              text: "Register a marriage"
            },
            {
              value: "Apply to be a foster carer",
              text: "Apply to be a foster carer"
            },
            {
              value: "Apply for council housing",
              text: "Apply for council housing"
            },
            {
              divider: "or"
            },
            {
              value: "I do not want to share my documents",
              text: "I do not want to share my documents",
              behaviour: "exclusive"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
